body
{
  background-image: url(../images/EVSU.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;

}
.col-centered{
    float: none;
    margin: 0 auto;
}
.padding_zero
{
  padding:0;
}
#menu-toggle
{
  margin-left:-23px;
  margin-top:-25px;
  height:40px;
  background: #B22222;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.get_styles{
    background-color:white;
    min-height: 600px;
    margin-top: 5%;
    box-shadow: 0px 0px 20px #bbb;
    margin-bottom: 5%;
}
.container_div
{
    margin-top: 3%;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 7%; 

}
.letter_style
{
  text-align: justify;
}
.align_text{
  text-align: center;
}
 table tr td .remove_border{
     border-top: none;
     border-left:none;
  }
@media print{
  .container_div{
    margin:0;
    margin-bottom: 0; 
  }
  .get_styles{
     margin-top: 0%;
  }
  .remove_border{
     border-top: 2px solid white;
     border-left: 2px solid white;
  }
}

table#tbl_rep tbody tr th{
  font-size: 10px;
}
#cert, #wow{
  color: black;
}

